.venv/
__pycache__/
*.pyc
.streamlit/secrets.toml
.pytest_cache/
.ipynb_checkpoints/
*.egg-info/
Enunciado Proyecto.pdf
.github/prompts/
docs/memorias
report/LaTeX
docs/sintesis_flujo_trabajo_memoriaDani.md
docs/sintesis_flujo_trabajo_memoriaDani.pdf